body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Corben', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000 !important;
}
.sub-header {
  position: absolute;
  left: 630px;
  top: 585px;
}
h3 {
  color: #ff6600;
  font-family: 'Corben', cursive;
  font-weight: 700 !important;
  font-size: 40px;
  line-height: 64px;
  width: 1203px;
  height: 105px;
}
h5 {
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  height: 111px;
  width: 898px;
}
h6 {
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 800 !important;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.form-body {
  position: absolute;
  left: 642px;
  top: 859px;
}
.check,
.form-label {
  color: #ffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
