body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Corben', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000 !important;
}
.container,
.footer,
.header {
  max-width: 1004px;
  justify-content: center !important;
}
.header-img {
  margin: 0 auto;
  height: 551px;
  width: 1004px;
}

.footer {
  position: absolute;
  top: 1924px;
  right: -315px;
  height: 238px;
  width: 1004px;
}

.sub-header {
  position: absolute;
  left: 504px;
  top: 585px;
}
.sub-text {
  margin-top: 83px;
}
h3 {
  color: #ff6600;
  font-family: 'Corben', cursive;
  font-weight: 700 !important;
  font-size: 40px;
  line-height: 64px;
  width: 1203px;
  height: 80px;
}
h5 {
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
  margin-top: 83px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  height: 111px;
  width: 898px;
}
h6 {
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 800 !important;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

span {
  position: absolute;
  left: 504px;
  top: 700px;
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.thank-span {
  left: 540px;
}
.form-body {
  position: absolute;
  left: 515px;
  top: 859px;
}

.form-label {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}
.check,
.form-label {
  color: #ffff;
}
.form-control {
  margin-bottom: 60px;
}
.btn-group {
  left: -35px;
  top: 50px;
}
.success-btn-group {
  margin: 250px 0px 0px 300px;
}
.confirm-btn-group {
  margin-top: 20px !important;
}
.finish-btn-group {
  margin-top: 250px !important;
}
.btn {
  height: 38px !important;
  width: 172px !important;
  border-radius: 31px !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0px 25px;
}
#white-btn {
  background-color: #ffff;
  border-color: #ffff;
  color: black;
}
#orange-btn {
  background-color: #ff6600;
  border-color: #ff6600;
}

.confirm-span {
  margin-left: 25px;
}
.table-style {
  background-color: #ffff;
  border-radius: 6px;
  padding: 20px;
  margin: 250px 210px 0px 0px !important;
  height: 364px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
